* {
  font-family: 'Titillium Web', Arial, sans-serif !important;
}

body {
  margin: 0;
  font-family: 'Titillium Web', Arial, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  overflow-y: scroll;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
