.auth {
    display:inline;
    color:navy;
}

.helloUser {
    padding-right: 25px;
}

.prova {
    padding-left: 10px;
}

.user-name-link {
    transition: text-decoration 0.2s ease;
}

.user-name-link:hover {
    text-decoration: underline !important;
}