.AdminProfile {
    flex:4;
}

.Title {
    margin-bottom: 20px;
        font-size: 20px;
        font-weight: 600;
}

.FormGroup { 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.FormGroupElement {
    display: flex;
    flex-direction: column;
    padding: 0.5em;
}

.FormGroupElement span {
    color:red;
    font-size:10px;
}

.FormGroupElement select {
    width: 186px;
    height: 29px;
}

.FormGroupSeparator {
    display: flex;
    margin: 10px;
}

.FormGroupTitle {
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    font-weight: bold;
    font-style: italic;
}

.FormGroupButtons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.alert{
    color:red;
    font-family: "Titillium Web";
    font-size:12px;
}